@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-bottom {
    border-bottom: 1px solid #e3e3e3;
  }

  .margin-top {
    margin-top: 2rem;
  }
}

/* remove outline effect */
.mapboxgl-canvas {
  outline: none !important;
}
